Package: org.chronic-dev.animate
Name: animate
Depends: preferenceloader
Version: 1.0.0
Architecture: iphoneos-arm
Description: Boot Logo Animations for 4.2.1 untether
Maintainer: Chronic-Dev Inc. <jaywalker@chronic-dev.com>
Author: Chronic-Dev Inc. <jaywalker@chronic-dev.com>
Section: System
Tag: role::user
