Package: org.chronic-dev.animate
Depends: preferenceloader
Name: animate
Version: 1.0.1
Installed-Size: 204
Architecture: iphoneos-arm
Description: Boot Logo Animations for 4.2.1 untether
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=animateData
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=animateData
Maintainer: Bigboss <bigboss@thebigboss.org>
Author: Chronic-Dev Inc. <jaywalker@chronic-dev.com>
Section: System
Sponsor: thebigboss.org <http://thebigboss.org>
dev: chronic-dev
