Package: org.chronic-dev.animate
Name: animate
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Boot Logo Animations for 4.2.1 untether
Maintainer: Jaywalker
Author: Jaywalker
Section: System
Tag: role::hacker
